{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{%static 'css/cabecera2.css' %}" rel="stylesheet">
</head>
<body>
    <div class="cabecera">
        <img class="logo" src="{%static 'img/logo.png'%}" alt="logo"/></th>
        <h1 class="cabecera">Face Recognition</h1>
   </div>
<div class="navegador">
        <nav>

<a href="{% url 'AddPersona'%}">Añadir nuevo Usuario</a>
<a href="{% url 'BorrarUsuarios' %}">Borrar Un Reconocido</a>
<a href="{% url 'Mostrarfotos' %}">Borrar una foto</a>
<a href="{% url 'Entrenamiento' %}">Realizar Entrenamiento</a>
<a href="/">Inicio</a>
    </nav>
</div>
<p>Introduce el nombre de la persona a borrar</p>

<table>
    <tbody>
    {% if registros %}
    {% for registro in registros %}
    <tr>
        <td>
            {{registro.nombre}}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No se tienen registros</h1>
    {% endif %}
    </tbody>
</table>
        <form method="POST" class="post-form" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Borrar</button>
    </form>



</body>
</html>