{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="{%static 'css/cabecera2.css' %}" rel="stylesheet">
    <style type="text/css">



    </style>
</head>
<body>
    <div class="cabecera">
            <img class="logo" src="{%static 'img/logo.png'%}" alt="logo"/></th>
            <h1 class="cabecera">Face Recognition</h1>
       </div>

<div class="navegador">
    <nav>
        <a href="{% url 'Inicio' %}">Inicio</a>
        <a href="{% url 'AnalizarImagen' %}">Analizar Imagen</a>
        <a href="{% url 'AnalizarVideo' %}">Analizar Video</a>
        <a href="{% url 'WebCam' %}">Abrir Camara Local</a>
        <a href="{% url 'IpCAM' %}">Abrir Camara IP</a>
        <a href="{% url 'Usuarios' %}">Personas reconocidas</a>
        <a href="administracion">Zona de Administracion</a>
    </nav>
</div>
<h1>{{msg}}</h1>
</body>
</html>