{% load static %}

<html lang="es">
<head> 
    <meta charset="UTF-8"> 
    <title>image upload example</title>
    <link href="{%static 'css/cabecera2.css' %}" rel="stylesheet">
</head> 
<body>
    <div class="cabecera">
        <img class="logo" src="{%static 'img/logo.png'%}" alt="logo"/></th>
        <h1 class="cabecera">Face Recognition</h1>
   </div>
<div class="navegador">
    <nav>
        <a href="{% url 'AnalizarImagen' %}">Analizar Imagen</a>
        <a href="{% url 'AnalizarVideo' %}">Analizar Video</a>
        <a href="WebCam">Abrir Camera Local</a>
        <a href="{% url 'IpCAM' %}">Abrir Camera IP</a>
        <a href="{% url 'Usuarios' %}">Personas reconocidas</a>
        <a href="administracion">Zona de Administracion</a>
    </nav>
</div>
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Analizar</button> 
    </form> 
    

</body> 
</html> 